@import url("./index.css");

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    margin: 10px auto;
    padding: 1%;
    background-color: rgb(255, 255, 255);
}

hr{
    margin: 20px auto;
}

.container h3{
    font-weight: 700;
    font-size: 1.7em;
    margin: 10px auto;
}

.productDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productShowCase{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.productShowCase img {
    object-fit: cover;
}

.productQuantity{
    display: flex;
    height:80px;
    flex-direction: row;
    
    justify-content: space-between;
    align-items: center;
    
    
}

.productQuantity button{
    width: 35px;
    height: 40px;
    background-color:rgb(255,165,0) ;
    border: none;
    border-radius: 25px;
    font-size: 20px;
}

