@import url(./index.css);

.backdrop{
    position:absolute;
    top: 0;
    min-height: 100vh;
    width: 100vw;
    z-index: -1;
   
}

.minicart{
    width: 40%;
    height: 40%;
    color: rgb(0, 0, 0);
    margin: -20px  55% ;
    transform: scale(0.7);
    background-color: rgb(255,165,0);
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

.items{
    margin: 20px auto;
    height: 500px;
    overflow-y: auto;
}

.showFullCart button{
    width: 80%;
    height: 50px;
    margin: 10px 50px;
    font-size: 20px;
    text-align: center;
    
}
