@import url("./index.css");

.container{
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .container{
        flex-direction: column;
        justify-content: space-evenly;
    }
  }

.productInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
   
}

.productInfo h1{
    font-size: 3rem;
}

.productImages{
    text-align: center;
    width: clamp(60%, 400px, 100%)
}

.productImages img{
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 2px rgb(255,165,0);
    cursor: pointer;
}
hr{
    border-top: 1px solid rgb(255,165,0);
    margin: 20 px auto;
    width: 100%;
}