@import url("./index.css");

.container{
    background-color: white;
    height: 400px;
    width: 100%;
    border-radius: 15px;
    text-align: left;
    transition: ease-in-out 100ms;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container:hover{
    transform: scale(1.02);
    z-index: 5;
    box-shadow: 0 0 10px  rgb(255,165,0);
}

.productImg{
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    display: block;
    margin: auto;
   
}